*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
.header{
   min-height: 100vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner2.png);
   background-position: center;
   background-size: cover;
   position: relative;

}
nav{
   display: flex;
   padding: 2% 6%;
   justify-content: space-between;
   align-items: center;
}
.nav-links{
   flex: 1;
   text-align: right;
}



.nav-links ul li{
   list-style-type: none;
   display: inline-block;
   padding: 8px 12px;
   position: relative;
}
.nav-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size: 13px;
}
.nav-links ul li::after{
   content: '';
   width: 0%;
   height: 2px;
   background: #f44336;
   display: block;
   margin: auto;
   transition: 0.5s;
}
.nav-links ul li:hover::after{
   width: 100%;
}
.text-box{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
   margin: 10px 0 40px;
   font-size: 14px;
   color: #fff;
}
.hero-btn{
   display: inline-block;
   text-decoration: none;
   color: #fff;
   border: 1px solid #fff;
   padding: 12px 34px;
   background: transparent;
   position: relative;
   cursor: pointer;
}
.hero-btn:hover{
         border: 1px solid #f44336;
         background:#f44336;
         transition: 1s;
}

nav .fa{
   display: none;
}

@media(max-width: 700px) {
   .text-box h1{
      font-size: 20px;
   }
   .nav-links ul li{
      display: block;
   }
   .nav-links{
      position: absolute;
      background: #f44336;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200;
      text-align: left;
      z-index: 2;
      transition: 1s
   }
   nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
   }
   .nav-links ul{
      padding: 30px;
   }
}

/*------ course -----*/
.datadiri{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
 
p{
   color: #777;
   font-size: 14px;
   font-weight: 300;
   line-height: 22px;
   padding: 10px;

}

.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}
.datadiri-col{
   flex-basis: 31%;
   background: #fff3f3;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing:border-box;
   transition: 0.5s;
}
h3{
   text-align:center;
   font-weight: 600;
   margin: 10px 0;
}
.datadiri-col:hover{
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
   .row{
      flex-direction: column;
   }
}

/*---- about us page -----*/

.sub-header{
   height: 50vh;
   width: 100%;
   background-image: linear-gradient(rgba(4,9,30,0.7),
   rgba(4,9,30,0.7)),url(images/aboutme.png);
   background-position: center;
   background-size: cover;
   text-align: center;
   color:#fff;
}
.sub-header h1{
   margin-top: 100px;
}
.profile{
   width: 80%;
   margin: auto;
   padding-top: 80px;
   padding-bottom: 50px;
}
.profile-col{
   flex-basis: 48%;
   padding: 30px 2px;
}
.profile-col img{
   width: 100%;
}
.profile-col h1{
   padding-top: 0;
}
.profile-col p{
   padding: 15px 0 25px;
}
.red-btn{
   border: 1px solid #f44336;
   background: transparent;
   color:#f44336;
}
.red-btn:hover{
   color: #fff;
}
.galeri{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 100px;
}
.galeri-col{
   flex-basis: 31%;
   border-radius: 10px;
   margin-bottom: 5%;
   text-align: left;
}
.galeri-col img{
   width: 100%;
   border-radius: 10px;
}
.galeri col h3{
   margin-top: 16px;
   margin-bottom: 15px;
   text-align: left;
}
/*---- CONTACT-----*/
.kontak{
   width: 80%;
   margin: auto:
}
.kontak-col{
   flex-basis: 48%;
   margin-bottom: 30px;
   margin-left: 20px;
}
.footer{
   margin-left: 600px;
}
@media(max-width: 700px) {
   .footer{
      font-size: 20px;
   }
}

















